*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5% 5% 40% 50%;
}

#topNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw;
}

.circle{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
}

#circles{
  display: flex;
}

#navItems{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#navItems a{
  text-decoration: none;
  font-size: 15px;
  color: rgb(57, 51, 51);
}

#navItems i{
  display: none;
}

#bottomNav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.7vw;
  padding: 0 3vw;
}

#bottomNav a{
  color: rgb(57, 51, 51);
  text-decoration: none;
}

#text-content{
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
}

#text-content::-webkit-scrollbar{
  background: transparent;
  height: 6px;
}

#text-content::-webkit-scrollbar-thumb{
  background-color: orangered;
}

.elem{
  flex-shrink: 0;
}

.elem h1{
  display: flex;
  justify-content: end;
  flex-shrink: 0;
  width: 73vw;
  font-size: 8vw;
  font-weight: 300;
}

#image-content{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

#image-content::-webkit-scrollbar{
  display: none;
}

#image-content img{
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 650px) {
  
  main{
    height: 100%;
    width: 100%;
  }
  
  #topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4vh 3vw;
    width: 100%;
  }
  
  #navItems a{
    display: none;
  }

  #navItems i{
    display: initial;
  }
  
  #bottomNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5vw;
    padding: 5vh 3vw;
    width: 100%;

  }
  
  #bottomNav a{
    color: rgb(57, 51, 51);
    font-size: 2vw;
    text-decoration: none;
  }

  #text-content{
    display: flex;
    align-items: center;

    overflow-x: auto;
    flex-wrap: nowrap;
  }
  
  #text-content::-webkit-scrollbar{
    background: transparent;
    height: 6px;
  }
  
  #text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
  }
  
  .elem{
    flex-shrink: 0;
  }
  
  .elem h1{
    display: flex;
    justify-content: end;
    flex-shrink: 0;
    width: 73vw;
    font-size: 8vw;
    font-weight: 300;
  }
  
  #image-content{
    display: flex;
    flex-wrap: nowrap;

  }
  
  #image-content::-webkit-scrollbar{
    display: none;
  }
  
  #image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}